
* {
    box-sizing: border-box;

}

$dark-color: #19283f;
$green-color: #33d1cc;
$red-color: #ff3150;
$yellow-color: #eab26d;
$section-color: #f1f1f1;
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: $dark-color;
}
::-webkit-scrollbar-thumb {
    background-color: $yellow-color;
    border-radius: 3px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: $section-color;
}
a {
    color: white;
    text-decoration: none;
}
.main-bnt {
    background-color: $dark-color;
    color: $yellow-color;
    padding: 0.5rem 1rem;
}
.main-bnt:hover {
    background-color: $red-color;
    color: $yellow-color;
}
.main-title::before{
    content: "";
    position: absolute;
    bottom: -20px;
    width: 120px;
    height: 2px;
    background-color: $yellow-color;
    left: 50%;
    transform: translateX(-50%);
}